.main_content {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.user_params {
	height: 100%;
	background-color: #9EB7DD;
	padding: 0 50px;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.user_params_agitation_text {
	color: white;
	margin: 110px 0 70px;
}

.user_params_data {
	color: white;
}

.user_params_data_item {
	margin: 0 0 20px;
}

.user_params_text {
	height: 65px;
	width: 209px;
	padding-bottom: 20px;
	font-weight: bold;
}

.data_text_field {
	border:  none;
	border-bottom: 1px solid white;
	outline: none;
	display: block;
	width: 80%;
	background-color: #9EB7DD;
}

.user_params_next {
	padding: 0 0 0 400px;
}

.user_params_next {
}

.user_params_next_text {
	color: white;
	padding: 10px 15px;
	width: 50%;
}

.fa-long-arrow-right {
	padding: 0 0 0 10px;
}

.model {
	height: 100%;
	padding: 25px 0 0 350px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.controls__btn {
	margin: 0 50px;
	position: relative;
	z-index: 10000;
	border: none;
	background-color: transparent;
	font-size: 50px;
	cursor: pointer;
	padding: 5px;
}

.model__dress {
	top: 60px;
	left: 310px;
	position: absolute;
}

.user-view {
	padding: 0 0 60px;
}

.user-view__item {
	padding: 0 0 5px;
}

.user-view__chose {
	margin: 0 0 20px 0;
}

.user-view__text {
	color: white;
}